<aside class="blog-sidebar">
    <!-- <div class="p-4 mb-3 bg-light rounded">
      <h4 class="font-italic">About</h4>
      <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div> -->

    <div>
      <h4 class="font-italic">Tags</h4>
      <ol class="list-unstyled mb-0">
        <li ng-repeat="tag in a.tags">
          <a 
            class="badge badge-pill"
            ng-click="a.onSelectTag({tag: tag.value})" 
            ng-href="/"
            ng-class="{'badge-primary': a.selectedTags.indexOf(tag.value) !== -1, 
                      'badge-light': a.selectedTags.indexOf(tag.value) === -1}">
              {{tag.value}}
          </a>
        </li>
      </ol>
    </div>

    <form class="searchForm">
      <div class="form-group">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
        <input class="form-control" ng-model="a.searchString" ng-keyup="a.onSearchType({string: a.searchString})">
      </div>
    </form>
</aside>
