@import '../../_global.scss';

.blog-footer {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;

  .social-container {
    a {
      font-size: 2rem;
      // &:hover {
      //     color: $first-color;
      //     text-decoration: none;
      // }
    }
  }
}
